<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mark Attendance</h1>
    <a routerLink="/stud-read" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-eye"></i> Show Attendance</a>
</div>
<form (ngSubmit)="get()">
    <div class="row">
        <div class="col-lg-5 mb-3">
            <label for="" class="form-label">Rollno</label>
            <input type="number" name="rollno" [(ngModel)]="rollno" class="form-control" id="">
        </div>
        <div class="col-lg-5 mb-3">
            <label for="" class="form-label">Date</label>
            <input type="date" name="date" [(ngModel)]="date" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <label for="" class="form-label">Status</label>
            <select [(ngModel)]="status" name="status" class="form-select" class="form-control" aria-label="Default select example">
                <option value="present">Present</option>
                <option value="absent">Absent</option>
                
            </select>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary mt-5">Submit</button>
   
</form>

